* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background: #fffaf5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}

/* =========== Common =========== */
.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.btn,
.pricing__toggle-btn {
  --height: 56px;

  min-width: 117px;
  height: var(--height);
  color: #ff5b2e;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: var(--height);
  border-radius: 999px;
  border: 1px solid rgba(255, 91, 46, 0.42);
}

.btn:not(.top-nav__btn):hover {
  background: #ff5b2e;
  color: #fff;
}

.row {
  display: flex;
  align-items: center;
}

.section-title {
  color: #000958;
  font-family: Sora;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 119.231%;
}

.section-desc {
  margin-top: 24px;
  color: #656689;
  font-weight: 400;
  line-height: 187.5%;
}
/* =========== Header =========== */

.page-header {
  position: sticky;
  z-index: 999;
  top: -18px;
  width: 100%;
  padding-top: 26px;
  padding-bottom: 8px;
  background: #fffaf5;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-nav__menu {
  display: flex;
}

.top-nav__menu a {
  color: #5e6085;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 8px 16px;
}

.top-nav__menu a:hover {
  font-weight: 600;
  color: #000958;
}

.top-nav__btn {
  --height: 50px;

  color: #000958;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid rgba(0, 9, 88, 0.7);
}

/* =========== Hero =========== */
.hero {
  padding: 92px 0 170px;
}

.hero__media {
  position: relative;
  flex: 1;
}

.hero__image {
  display: flex;
  position: relative;
}

.hero__image-wrap {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 388px;
  height: 488px;
  border: 3px solid #fff;
  border-radius: 16px;
  background-color: #fe997b;
}

.decor {
  position: absolute;
  z-index: -1;
}

.hero__decor--left {
  left: -58px;
  bottom: 10px;
}

.hero__decor--right {
  left: 378px;
  top: 14px;
}

.hero__img {
  max-width: 100%;
  max-height: 100%;
  border-radius: inherit;
}

.hero__image-wrap--small {
  position: absolute;
  bottom: -58px;
  left: 369px;
  width: 186px;
  height: 244px;
  border: 2px solid #f7dddf;
  background: #faa7ad;
}

.hero__card {
  position: absolute;
  bottom: -100px;
  left: 130px;
  width: 250px;
  height: 156px;
  padding: 0px 12px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
  z-index: 3;
}

.card-item__thumb {
  margin-right: 8px;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 10px;
}

.card-item:first-child .card-item__thumb {
  background: #fec23f;
}

.card-item:last-child .card-item__thumb {
  background: #c6e2fa;
}

.card-item {
  display: flex;
  padding: 20px 0;
}

.card-item + .card-item {
  border-top: 2px solid #f2f2f2;
}

.card-item__title {
  font-size: 14px;
  font-weight: 600;
}

.card-item__line {
  margin: 6px 0;
  width: 118px;
  height: 4px;
  border-radius: 999px;
  opacity: 0.08;
  background: #000958;
}

.card-item__line--short {
  width: 39px;
}

.hero__content {
  flex: 1;
  margin-left: 120px;
}

.hero__title {
  /* width: 517px; */
  font-size: 6.6rem;
  font-weight: 800;
}

.hero__desc {
  width: 391px;
  padding-bottom: 38px;
}

.hero__btn {
  display: flex;
  --height: 60px;
  width: 190px;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #ff5b2e;
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
  /* --height: 60px; */
}

.hero__btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
}

.hero__btn-icon::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 3px;
  border: 1px solid #fd5056;
  border-left: none;
  border-bottom: none;
  rotate: 45deg;
  transform: translateX(-100%), translateY(-50%);
}

.hero__link {
  margin-left: 24px;
  color: #000958;
  font-weight: 500;
  text-decoration-line: underline;
}

/* =========== About =========== */
.about {
  padding: 53px 0;
}

.about__content {
  flex: 1;
  margin-right: 108px;
}

.about__label {
  display: inline-block;
  margin-bottom: 15px;
  color: #5e6085;
  font-family: Sora;
  font-size: 1.6rem;
  font-weight: 600;
}

.about__desc {
  width: 430px;
}

.about__grid {
  margin-top: 57px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 40px;
}

.about__item {
  position: relative;
  display: flex;
  align-items: center;
  color: #48496a;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
}

.about__item:hover::before {
  box-shadow: -1px 1px 5px #ff5d31;
}

.about__item::before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  width: 24px;
  height: 24px;
  background: #ff5d31;
  border-radius: 4px;
}

.about__item::after {
  position: absolute;
  top: 5px;
  left: 5px;
  content: "";
  width: 12px;
  height: 6px;
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  rotate: -45deg;
}

.about__media {
  flex: 1;
  position: relative;
}

.about__image-wrap {
  margin-top: 223px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 494px;
  height: 336px;
  border-radius: 16px;
  background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
  box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
}

.about__image {
  max-width: 100%;
}

.about__decor--image {
  right: -50px;
  top: -66px;
}

.about__exp {
  position: absolute;
  top: 165px;
  left: -92px;
  padding: 30px 26px;
  width: 136px;
  height: 156px;
  border-radius: 10px;
  background: #5bd6e2;
  box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about__exp-wrap {
  position: relative;
}

.about__decor--exp {
  z-index: 1;
  top: 0;
  right: 0;
  transform: translateX(40%) translateY(-45%);
}

.about__exp-number {
  display: block;
  color: #fff;
  text-align: center;
  font-family: Sora;
  font-size: 4rem;
  font-weight: 700;
}

.about__exp-label {
  margin-top: 14px;
  display: block;
  color: #c6f4f9;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 142.857%;
}

/* =========== Feature =========== */
.feature {
  padding: 77px 0 130px;
}

.feature__media {
  flex: 1;
}

.feature__image-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  width: 458px;
  height: 500px;
  border-radius: 18px;
  border: 2px solid #fff;
  background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
  box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.feature__image {
  max-width: 100%;
}

.feature__decor {
  position: absolute;
}

.feature__decor--01 {
  top: -18px;
  right: 13px;
  rotate: 180deg;
}

.feature__decor--02 {
  top: 25px;
  right: -25px;
}

.feature__decor--03 {
  top: 13px;
  right: 63px;
}

.feature__decor--04 {
  top: 268px;
  right: -33px;
}

.feature__decor--05 {
  top: 336px;
  right: 20px;
}

.feature__decor--06 {
  left: 377px;
  top: 435px;
}

.feature__content {
  flex: 1;
}

.feature__desc {
  width: 510px;
  margin-bottom: 52px;
}

.feature__row {
  justify-content: space-between;
}

.feature__item {
  position: relative;
  width: 100%;
  height: 32px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #ffe7d8;
  cursor: pointer;
}

.feature__item:hover::before {
  position: absolute;
  bottom: -1px;
  content: "";
  display: inline-block;
  width: 50%;
  height: 2px;
  background: #ff5b2e;
}

.feature__icon {
  margin-right: 10px;
}

.feature__item:first-child .feature__icon {
  margin-left: -10px;
  margin-right: 4px;
}

.feature__item:nth-child(2) .feature__icon {
  transform: translateY(4px);
}

.feature__name {
  color: #48496a;
  font-family: Sora;
  font-size: 1.8rem;
  font-weight: 600;
}

.feature_item-desc {
  margin-top: 36px;
  width: 390px;
  font-size: 1.4rem;
  line-height: 171.429%;
}

.feature__link {
  margin-top: 32px;
  display: inline-block;
  color: #ff5d31;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 5px;
}

/* =========== Service =========== */
.our-service {
  padding: 68px 0 140px;
  background: #fff6ed;
}

.our-service__desc,
.team__desc {
  margin-top: 0;
  color: #5e6085;
  text-align: center;
  font-family: Sora;
  font-size: 1.6rem;
  font-weight: 600;
}

.our-service__title,
.team__title {
  margin-top: 15px;
  text-align: center;
}

.service-grid {
  margin-top: 71px;
  display: grid;
  grid-template-areas:
    "service__item--01 image image service__item--02"
    "service__item--03 image image service__item--04"
    "service__item--05 image image service__item--06";
  gap: 24px 86px;
  grid-auto-flow: column;
}

.service__media {
  grid-area: image;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: -30px;
}

.service__media-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 410px;
  height: 350px;
  border-radius: 10px;
  background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.service__image {
  width: 110%;
}

.service__btn {
  margin-top: 65px;
  display: inline-block;
  width: 214px;
}

.service__item {
  padding: 30px 22px 30px 28px;
  width: 294px;
  height: 208px;
  border-radius: 10px;
  border: 2px solid rgba(255, 188, 122, 0.26);
  background: #fff;
}

.service__title {
  display: flex;
  align-items: center;
  color: #000958;
  font-size: 2.2rem;
}

.service__title::before {
  content: "";
  display: inline-block;
  margin-right: 12px;
  width: 2px;
  height: 22px;
  background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
}

.service__desc {
  margin-top: 18px;
  color: #656689;
  font-size: 1.4rem;
  line-height: 171.429%;
}

.service__link {
  margin-top: 24px;
  display: inline-flex;
  text-align: center;
  color: #34396a;
  font-family: Sora;
  font-size: 1.2rem;
}

.service__link:hover {
  color: #ff5b2e;
}

.service__icon {
  margin-left: 6px;
}

/* =========== Team =========== */
.team {
  padding: 130px 0;
}

.team-grid {
  margin-top: 78px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.team__member {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team__wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 234px;
  height: 266px;
  flex-shrink: 0;
  border-radius: 999px;
}

.team__wrap--01 {
  background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}

.team__wrap--02 {
  background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}

.team__wrap--03 {
  background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}

.team__wrap--04 {
  background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.member__image {
  width: 100%;
  border-radius: 999px;
}

.member__decor {
  position: absolute;
}

.member__decor--top {
  top: 0;
}

.member__position {
  margin-top: 30px;
  color: #656689;
  font-size: 1.4rem;
}

.member__name {
  margin-top: 14px;
  color: #000958;
  font-family: Sora;
  font-size: 2.2rem;
}

.team__btn {
  display: block;
  margin-top: 48px;
  margin-right: auto;
  margin-left: auto;
  width: 193px;
}

/* =========== Pricing =========== */
.pricing {
  padding: 86px 0;
  background: #fff6ed;
}

.pricing-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing__desc {
  width: 710px;
  text-align: center;
}

.pricing__toggle {
  position: relative;
}

.pricing__decor {
  position: absolute;
  right: -24px;
  top: 0;
  transform: translate(100%, 70%);
}

.pricing__toggle [for="toggle"] {
  position: relative;
  margin-top: 38px;
  display: flex;
  width: 276px;
  cursor: pointer;
}

.pricing__toggle [type="checkbox"]:checked ~ [for="toggle"]::before {
  border-radius: 999px;
  background: #ff5b2e;
  color: #fff;
}

.pricing__toggle [type="checkbox"]:checked ~ [for="toggle"]::after {
  background: transparent;
  color: #ff5b2e;
}

.pricing__toggle [for="toggle"]::before {
  content: "Monthly";
  position: absolute;
  left: 0;
  width: 50%;
}

.pricing__toggle [for="toggle"]::after {
  content: "Yearly";
  position: absolute;
  right: 0;
  width: 50%;
  border-radius: 999px;
  background: #ff5b2e;
  color: #fff;
}

.pricing-grid {
  margin-top: 56px;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  column-gap: 44px;
}

.pricing__item {
  display: flex;
  flex-direction: column;
  padding: 30px 28px 43px 28px;
  border-radius: 20px;
  background: #fff;
}

.pricing__label {
  color: #ff5b2e;
  font-size: 1.2rem;
}

.pricing__name {
  margin-top: 8px;
  color: #3f4065;
  font-family: Sora;
  font-size: 1.8rem;
}

.pricing__value {
  margin-top: 24px;
  color: #000958;
  font-family: Sora;
  font-size: 3.3rem;
  font-weight: 700;
}

.pricing__btn {
  margin: 22px 0 24px;
  --height: 44px;
}

.pricing__service-list {
  margin-left: 22px;
  position: relative;
  color: #656689;
  font-size: 14px;
  margin-bottom: 18px;
}

.pricing__service-list:hover {
  color: #ff5b2e;
}

.pricing__service-list:last-child {
  margin-bottom: 0;
}

.pricing__service-list::before {
  position: absolute;
  left: -22px;
  top: 4px;
  content: "";
  width: 8px;
  height: 4px;
  border: 1px solid #ff5b2e;
  border-top: none;
  border-right: none;
  rotate: -45deg;
}

/* =========== Reviews =========== */
.reviews {
  padding: 130px 0 65px;
}

.reviews-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.reviews-grid {
  display: grid;
  grid-template-columns: 300px 600px;
  column-gap: 115px;
}

.reviews__media-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 274px;
  height: 350px;
  border-radius: 999px;
  background: #ffda54;
}

.reviews__image {
  max-width: 100%;
  border-radius: 999px;
}

.reviews__desc {
  width: 554px;
  font-size: 1.8rem;
}

.reviews__name {
  margin-top: 34px;
  display: flex;
  align-items: center;
  color: #282828;
  font-family: Sora;
  font-size: 1.8rem;
  font-weight: 600;
}

.reviews__name::before {
  display: inline-block;
  margin-right: 8px;
  content: "";
  width: 20px;
  height: 2px;
  background: #000;
}

.reviews__arrow-position {
  position: absolute;
  top: 50%;
}

.reviews__arrow-position--left {
  left: 0;
}

.reviews__arrow-position--right {
  right: 0;
}

.reviews__arrow,
.footer__btn {
  display: flex;
  align-items: center;
  position: relative;
  width: 54px;
  height: 54px;
  border: 1px solid #ffd1c4;
  border-radius: 50%;
  cursor: pointer;
  rotate: 180deg;
}

.reviews__arrow:hover {
  background: #ff5b2e;
  box-shadow: -1px 1px 5px #ff5d31;
}

.reviews__arrow:hover::before {
  border-color: #fff;
}

.reviews__arrow:hover::after {
  background: #fff;
}
.reviews__arrow-position--left {
  rotate: 180deg;
}

.reviews__arrow:before,
.footer__btn::before {
  position: absolute;
  left: 18px;
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 2px solid #ff5b2e;
  border-top: none;
  border-right: none;
  rotate: 45deg;
}

.reviews__arrow:after,
.footer__btn::after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  display: inline-block;
  width: 16px;
  height: 2px;
  background-color: #ff5b2e;
  border-radius: 999px;
}

.reviews__row {
  margin-top: 64px;
  justify-content: center;
  column-gap: 12px;
}

.reviews__row::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 8px;
  border-radius: 999px;
  background: #ff5b2e;
}

.reviews__icon {
  width: 8px;
  height: 8px;
  border: 1px solid #ff5b2e;
  border-radius: 50%;
}

/* =========== Blog =========== */
.blog {
  padding: 65px 0 130px;
}

.blog__desc {
  width: 350px;
}

.blog__btn {
  margin-top: 24px;
  display: inline-block;

  width: 182px;
}

.blog-grid {
  margin-top: 54px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 48px;
}

.blog__item {
  width: 358px;
}

.blog__media-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
  position: relative;
  width: 100%;
  height: 362px;
  flex-shrink: 0;
  border-radius: 24px;
}

.blog__media-wrap--01 {
  background: #90ccff;
}

.blog__media-wrap--02 {
  background: #ff997e;
}

.blog__media-wrap--03 {
  background: #5bd6e2;
}

.blog__date {
  position: absolute;
  top: 0;
  left: 0;
  padding: 24px 0 0 36px;
  color: #fff;
  font-size: 14px;
  /* font-weight: 400; */
  line-height: 121.429%;
}

.blog__image {
  width: 80%;
}

.blog-item__title {
  margin-top: 28px;
  color: #000958;
  font-size: 2.2rem;
  line-height: 154.545%;
}

.blog-item__desc {
  margin-top: 16px;
  color: #656689;
  font-size: 1.4rem;
  line-height: 171.429%;
}

/* =========== Footer =========== */
.footer {
  position: relative;
  display: flex;
  align-items: center;
  padding: 52px 0 48px;
}

.footer::before {
  position: absolute;
  content: "";
  width: 40%;
  height: 100%;
  background: #fff6ed;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "contact contact content content"
    "contact contact info info";
  grid-auto-flow: row;
  row-gap: 50px;
}

.footer__contact {
  grid-area: contact;
  z-index: 1;
}

.footer__logo {
  margin-top: 52px;
}

.footer__form {
  position: relative;
  margin: 35px 0 68px;
  width: 268px;
}

.footer__email {
  width: 100%;
  height: 46px;
  border-radius: 999px;
  border: 1px solid rgba(255, 91, 46, 0.25);
  outline: none;
  color: #656689;
  font-size: 1.4rem;
  padding: 0 22px;
}

.footer__email::placeholder {
  color: #656689;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 116.667%;
}

.footer__btn {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 46px;
  height: 46px;
  background: #ff5b2e;
}

.footer__btn::before {
  border-color: #fff;
  left: 16px;
  width: 6px;
  height: 6px;
}

.footer__btn::after {
  background: #fff;
  width: 12px;
}

.footer__title {
  margin-bottom: 16px;
  color: #000958;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 111.111%;
}

.footer__social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  width: 32px;
  height: 32px;
  background: #fff;
  border-radius: 50%;
}

.footer__social-icon:hover {
  border: 1px solid #ff5b2e;
}

.footer__nav-item,
.footer__desc {
  display: block;
  color: #656689;
  font-size: 1.4rem;
  line-height: 200%;
}

.footer__nav-item:hover,
.footer__desc:hover {
  color: #ff5b2e;
}

.footer__copyright {
  margin-top: 52px;
  color: #656689;
  font-size: 1.2rem;
  text-align: center;
  line-height: 116.667%;
}
